{% load static %}
<!DOCTYPE html><html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" href="images/pepsi logo.png' %}" type="image/ico" sizes="32x32">
    <title> Pepsico | Statistics </title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'dashboard/css/style.css' %}">
</head>

<body>
    <header>
        <!-- <div class="container-fluid"> -->
            <div class="row">
                <div class="col-12">
                    <nav class="navbar navbar-expand-md headerNav">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="{% url 'dashboard:index' %}">
                                <img src="{% static 'dashboard/assets/images/pepsi logo.png' %}" alt="" loading="lazy" class="brand-logo">
                            </a>

                                                                    <h1 class="text-white " style="font-size:24px;font-weight:bold" >Pepsi Premium Club</h1>


                            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                                aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav ms-auto align-items-md-center align-items-end">
                                   
                                    <li class="nav-item">
                                        <div class="dropdown-center">
                                            <button class="dropdown-toggle d-flex align-items-center userDrp"
                                                type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                <img src="{% static 'dashboard/assets/images/avatar.png' %}" alt="avatar" class="userAvatar">
                                                <span class="userName">{{username}}</span>
                                            </button>
                                          
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        <!-- </div> -->
    </header>
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex">
                       <div class="sideNav marginTopAll">
                            <ul class="mb-lg-5">

                                <li>
                                    <a href="{% url 'dashboard:index' %}">
                                        <img src="{% static 'dashboard/assets/images/analysis.png' %}" />
                                        &nbsp; &nbsp;Analytics</a>
                                </li>

  <li>
                                    <a href="{% url 'dashboard:bottler' %}" class="position-relative svgpath1">
                                    <img src="{% static 'dashboard/assets/images/factory.png' %}" />
                                            
                                            &nbsp; &nbsp;Users
                                         
                                                

                                    </a>
                                </li>

<li>
                                    <a href="{% url 'dashboard:restaurant' %}" class="d-flex align-items-center">
                                        <img src="{% static 'dashboard/assets/images/restaurant.png' %}" />
                                        &nbsp; &nbsp;Restaurants</a>
                                </li>

                            


                                

                              
                   {% if user.is_superuser %}             
 <li>
                                    <a href="{% url 'dashboard:lucky-draw' %}" class="d-flex align-items-center" >
                                       <img src="{% static 'dashboard/assets/images/ticket.png' %}" />
                                &nbsp; &nbsp;Lucky Draw</a>
                                </li>
                                {% endif %}
<li>
                                    <a href="{% url 'dashboard:report' %}" class="d-flex align-items-center active" >
                                       <img src="{% static 'dashboard/assets/images/report.png' %}" />
                &nbsp; &nbsp;Report</a>
                                </li>

                                <!-- <li>
                                    <a href="support.html">
                                        <svg class="svgNavIcon" viewBox="0 0 25 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M12.5 2C6.986 2 2.5 6.486 2.5 12V16.143C2.5 17.167 3.397 18 4.5 18H5.5C5.76522 18 6.01957 17.8946 6.20711 17.7071C6.39464 17.5196 6.5 17.2652 6.5 17V11.857C6.5 11.5918 6.39464 11.3374 6.20711 11.1499C6.01957 10.9624 5.76522 10.857 5.5 10.857H4.592C5.148 6.987 8.478 4 12.5 4C16.522 4 19.852 6.987 20.408 10.857H19.5C19.2348 10.857 18.9804 10.9624 18.7929 11.1499C18.6054 11.3374 18.5 11.5918 18.5 11.857V18C18.5 19.103 17.603 20 16.5 20H14.5V19H10.5V22H16.5C18.706 22 20.5 20.206 20.5 18C21.603 18 22.5 17.167 22.5 16.143V12C22.5 6.486 18.014 2 12.5 2Z" />
                                        </svg>
                                        Support</a>
                                </li> -->
                            </ul>


                            <ul class="mt-lg-5">
                                


                                <li>
                                    <a  href="#" id="logoutBtn">
                                        <svg class="svgNavIcon" viewBox="0 0 24 24" fill="none"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M13.0005 3H11.0005V13H13.0005V3ZM17.8305 5.17L16.4105 6.59C18.0505 7.91 19.0005 9.9 19.0005 12C19.0005 13.8565 18.263 15.637 16.9502 16.9497C15.6375 18.2625 13.857 19 12.0005 19C8.14046 19 5.00046 15.88 5.00046 12C5.00046 9.91 5.95046 7.91 7.58046 6.58L6.17046 5.17C2.38046 8.39 1.92046 14.07 5.14046 17.86C8.36046 21.64 14.0405 22.1 17.8305 18.88C19.8505 17.17 21.0005 14.65 21.0005 12C21.0005 9.37 19.8405 6.87 17.8305 5.17Z" />
                                        </svg>Logout</a>
                                </li>


                               
                            </ul>
                        </div>
               

                             <div class="contentArea">
                            <button class="open-btn hidden" onclick="toggleSideNav()"><i
                                    class="fas fa-angle-right"></i></button>

                         <section class="marginTopAll">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="sub-heading marginTopAll">Configure Report</h2>
                    <div class="border-box mt-3">
                        <form action="">
                            <div class="row">
                                <div class="col-4 mt-3">
                                    <label for="startDate" class="allLbl">Start Date</label>
                                    <input type="date" id="startDate" name="startDate" class="allinput w-100">
                                </div>

                                <div class="col-4 mt-3">
                                    <label for="endDate" class="allLbl">End Date</label>
                                    <input type="date" id="endDate" name="endDate" class="allinput w-100">
                                </div>

                                  <div class="col-lg-4 mt-3">
                                    <label for="kpiSelect" class="allLbl">Select KPI</label>
                                    <select id="kpiSelect" name="kpiSelect" class="allinput w-100">
                                        <option value="">Select KPI</option>
                                        <option value="Overall">Overall</option>
                                        <option value="Cases Purchased">Cases Sales</option>
                                        <option value="Compliance">Compliance</option>
                                        <option value="Consumer">Consumer</option>
                                    </select>   
                                </div>
                                
                                <div class="col-lg-4 mt-3">
                                    <label for="bottlerSelect" class="allLbl">Select Bottler</label>
                                    <select id="bottlerSelect" name="bottlerSelect" class="allinput w-100">
                                        <option value="">Select Bottler</option>
                                        {% for bottler in bottlers %}
                                                            <option value="{{bottler.id}}">{{bottler.bottler_name}}</option>
                                                            {% endfor %}
                                    </select>   
                                </div>
                                
                                <!-- Dynamic fields that will appear based on role selection -->
                                <div id="bottlerFields" class="col-12 dynamic-field">
                                    <div class="row">
                                {% if user.profile.role != "GM" and user.profile.role != "RSM" %}
                                        <div class="col-lg-6 mt-3">
                                            <label for="gmsSelect" class="allLbl">Select GMS (Multiple Selection)</label>
                                            <select id="gmsSelect" class="allinput w-100" multiple="multiple">
                                                        {% for gm in gms %}
                                                            <option value="{{gm.id}}">{{gm.gm_name}}</option>
                                                        {%endfor%}
                                            </select>
                                        </div>
                                        {% endif %}

                                   {% if user.profile.role != "RSM" %}
                                        <div class="col-lg-6 mt-3">
                                            <label for="rsmSelect" class="allLbl">Select RSM (Multiple Selection)</label>
                                            <select id="rsmSelect" class="allinput w-100" multiple="multiple">
                                                    <option value="">Select RSM</option>
                                                            {% for rsm in rsms %}
                                                            <option value="{{rsm.id}}">{{rsm.rsm_name}}</option>
                                                            {%endfor%}
                                            </select>
                                        </div>
{% endif %}
                                         <div class="col-lg-6 mt-3">
                                            <label for="restaurantSelect" class="allLbl">Select Restaurant (Multiple Selection)</label>
                                            <select id="restaurantSelect" class="allinput w-100" multiple="multiple">
                                                {% for restaurant in restaurants %}
                                                                    <option value="{{restaurant.id}}">{{restaurant.restaurant_name}}</option>
                                                                    {%endfor%}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                
                               
                                
                                <div class="col-12 mt-4 d-flex justify-content-center">
                                    <button type="button" id="reportGenerateBtn" class="orange-btn">
                                        <i class="fas fa-file"></i> Generate Report
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
                          


                            {% comment %} <section class="marginTopAll">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="row">
                                                        <div class="col-12">
                                                            <div class="border-box marginTopAll px-0">
                                                                <div class="table-responsive mt-3">
                                                                   <table class="table dataTable">
    <thead>
        <th>
            <p class="checkbx">
                <label for="c1">Start Date</label>
            </p>
        </th>
        <th>End Date</th>
        <th>Report KPI</th>
    </thead>
    <tbody>
        <tr>
            <td>2023-12-31</td>
            <td>2023-12-31</td>
            <td>Sales</td>

            <td>
                <button class="orange-btn">
                    <i class="fas fa-download"></i> Download
                </button>
            </td>
        </tr>
        <tr>
            <td>2023-12-31</td>
            <td>2023-12-31</td>
            <td>Compliance</td>

            <td>
                <button class="orange-btn">
                    <i class="fas fa-download"></i> Download
                </button>
            </td>
        </tr>
    </tbody>
</table>

                                                                </div>
                                                                <ul class="pagination mt-3 justify-content-end pe-3">
                                                                    <li class="page-item"><a class="page-link"
                                                                            href="#">Previous</a></li>
                                                                    <li class="page-item active"><a class="page-link"
                                                                            href="#">1</a></li>
                                                                    <li class="page-item"><a class="page-link"
                                                                            href="#">2</a></li>
                                                                    <li class="page-item"><a class="page-link"
                                                                            href="#">3</a></li>
                                                                    <li class="page-item"><a class="page-link"
                                                                            href="#">Next</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                    </div>
                                </div>
                            </section> {% endcomment %}

                        <div class="modal fade" id="reportsuccessModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body p-3">
                        <center><img src="{% static 'dashboard/assets/images/check.png' %}" alt="Success Icon" /></center>
                        <h1 id="reportsuccess" class="success-text" style="text-align:center;padding-top:10px;font-size:24px;">
                          
                        </h1>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="modal fade" id="reporterrorModal" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-body p-3">
                        <center><img src="{% static 'dashboard/assets/images/multiply.png' %}" alt="Success Icon" /></center>
                        <h1 id="reporterror" class="error-text" style="text-align:center;padding-top:10px;font-size:24px;">
                          
                        </h1>
                    </div>
                </div>
            </div>
        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels"></script>
    <script src="{% static 'dashboard/js/report.js' %}"></script>
</body>

</html>

<!--footer end here-->